{% load static %}
<section id="discount">
  <section class="wrapper">
    <div class="summer">
      <div class="left" style="background-image: url({% static 'images/bg-2.jpeg' %});">
        <div class="summer-left-text">
          <h6>Low Price</h6>
          <h2>High Coziness</h2>
          <h3>UPTO 50% OFF</h3>
          <h6 class="button">Explore Items</h6>
        </div>
      </div>
      <div class="right" style="background-image: url({% static 'images/bg-3.jpeg' %});">
        <div class="summer-right-text">
          <h6>Beyoung Presents</h6>
          <h2>Breezy Summer <br> style
            <h3>UPTO 50% OFF</h3>
            <h6 class="button">Explore Items</h6>
        </div>
      </div>
    </div>
  </section> <!-- #discount.wrapper -->
</section> <!-- #discount -->

<style>
  #discount {
    margin-top: 150px;
  }

  #discount .summer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #discount .summer .left {
    background-repeat: no-repeat;
    background-size: cover;
    width: 47%;
    border-radius: 12px;
    padding-top: 70px;
    padding-left: 30px;
  }

  #discount .summer .left .summer-left-text {}

  #discount .summer .left .summer-left-text h6 {
    font-weight: 800;
    font-size: 18px;
    color: #fff;
  }

  #discount .summer .left .summer-left-text h2 {
    display: flex;
    font-weight: 800;
    font-size: 34px;
    color: #fff;
    padding-top: 30px;
  }

  #discount .summer .left .summer-left-text h3 {
    padding-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding-bottom: 40px;
  }

  #discount .summer .left .summer-left-text h6.button {
    display: inline-block;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  #discount .summer .right {
    background-repeat: no-repeat;
    background-size: cover;
    width: 47%;
    border-radius: 12px;
    padding-top: 70px;
    padding-left: 30px;
    /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); */
  }

  #discount .summer .right .summer-right-text {}

  #discount .summer .right .summer-right-text h6 {
    font-weight: 800;
    font-size: 18px;
    color: #fff;
  }

  #discount .summer .right .summer-right-text h2 {
    display: flex;
    font-weight: 800;
    font-size: 34px;
    color: #fff;
    padding-top: 30px;
  }

  #discount .summer .right .summer-right-text h3 {
    padding-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding-bottom: 40px;
  }

  #discount .summer .right .summer-right-text h6.button {
    display: inline-block;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
  }


  @media all and (max-width: 1400px) {
    #discount {
      margin-top: 100px;
    }

    #discount .summer .right {
      width: 46%;
    }

    #discount .summer .left {
      width: 46%;
    }
  }

  @media all and (max-width: 1280px) {
    #discount {
      margin-top: 50px;
    }
  }

  @media all and (max-width: 1080px) {
    #discount .summer .left {
      padding-top: 50px;
      padding-left: 30px;
      width: 45%;
    }

    #discount .summer .right .summer-left-text h2 {
      font-size: 27px;
    }

    #discount .summer .right {
      padding-top: 50px;
      padding-left: 30px;
      width: 45%;
    }

    #discount .summer .right .summer-right-text h2 {
      font-size: 27px;
    }
  }

  @media all and (max-width: 980px) {
    #discount .summer .left {
      padding-top: 50px;
      padding-left: 30px;
      width: 100%;
      margin-bottom: 30px;
    }

    #discount .summer .right {
      width: 100%;
    }

    #discount .summer .left .summer-left-text h6.button {
      margin-bottom: 50px;
    }
  }

  @media all and (max-width: 768px) {
    #discount {
      margin-top: 30px;
    }

    #discount .summer .left {
      margin-bottom: 40px;
    }
  }

  @media all and (max-width: 640px) {
    #discount .summer .left ul li h2 {
      padding-top: 20px;
      font-size: 32px;
    }

    #discount .summer .left ul li h3 {
      padding-top: 19px;
      padding-bottom: 50px;
      font-size: 15px;
    }

    #discount .summer .left ul li a.button {
      font-weight: 700;
      font-size: 17px;
    }

    #discount .summer .right ul li h2 {
      font-size: 32px;
      padding-top: 20px;
      line-height: 1.2;
    }

    #discount .summer .right ul li h3 {
      padding-top: 20px;
      padding-bottom: 14px;
      font-size: 15px;
    }

    #discount .summer .right ul li a.button {
      font-size: 17px;
    }
  }

  @media all and (max-width: 540px) {

    #discount .summer .left .summer-left-text h2 {
      font-size: 30px;
      padding-top: 20px;
    }

    #discount .summer .left .summer-left-text h3 {
      font-size: 15px;
      padding-bottom: 30px;
    }

    #discount .summer .right .summer-right-text h6 {
      font-size: 16px;
    }

    #discount .summer .right .summer-right-text h2 {
      font-size: 25px;
      padding-top: 25px;
    }

    #discount .summer .right .summer-right-text h3 {
      font-size: 14px;
      padding-bottom: 25px;
    }
  }

  @media all and (max-width: 480px) {

    #discount .summer .left .summer-left-text h6 {
      font-size: 16px;
    }

    #discount .summer .left .summer-left-text h2 {
      font-size: 24px;
      padding-top: 20px;
    }

    #discount .summer .left .summer-left-text h3 {
      font-size: 14px;
      padding-bottom: 25px;
    }

    #discount .summer .left .summer-left-text h6.button {
      margin-bottom: 40px;
      font-size: 17px;
    }

    #discount .summer .right .summer-right-text h2 {
      font-size: 22px;
      padding-top: 20px;
    }

    #discount .summer .right .summer-right-text h3 {
      font-size: 12px;
      padding-bottom: 20px;
    }

    #discount .summer .right .summer-right-text h6.button {
      font-size: 17px;
      margin-bottom: 40px;
    }
  }
</style>