{% load static %}
  <section id="feedback">
    <section class="wrapper">
      <span class="title">
        <img src="{% static 'images/Rectangle 21.svg' %}" alt="title-image" />
        <h6>Feedback</h6>
      </span>
      <div class="slider-container" id="slider-feedback">
        <div class="slide-feed">
          <div class="feedback-main">
           
              <div class="card1">
                <div class="img-images">
                  <img src="{% static 'images/span-1.svg' %}" alt="span1" />
                  <img src="{% static 'images/star.svg' %}" class="Frame" alt="Frame 260.svg" />
                </div>
                <h1 class="py-2">Floyd Miles</h1>
                <p class="feed-back-paragragh">Amet minim mollit non deserunt ullamco est sit <br /> aliqua dolor do
                  amet sint. Veli
                  t officia consequat <br /> mollit. <br>
                  Exercitation veniam consequat sunt nostrud <br> amet. Amet minim mollit non des
                  erunt ullamco <br /> est sit aliqua dolor do amet sint. Velit officia <br> consequat duis
                  enim velit mollit. <br>Exercitation veniam consequat sunt nostrud <br> amet.</p>
              </div>
            
      
              <div class="card2">
                <div class="img-images">
                  <img src="{% static 'images/span-2.svg' %}" alt="span1" />
                  <img src="{% static 'images/star.svg' %}" class="Frame" alt="Frame 260.svg" />
                </div>
                <h1 class="py-2">Floyd Miles</h1>
                <p class="feed-back-paragragh">ullamco est sit aliqua dolor do amet sint. Velit <br />officia consequat
                  duis enim velit mollit.
                  Exercit <br />ation veniam consequat sunt nostrud amet.</p>
              </div>
            </a>
    
              <div class="card3">
                <div class="img-images">
                  <img src="{% static 'images/span-3.svg' %}" alt="span1" />
                  <img src="{% static 'images/star.svg' %}" class="Frame" alt="Frame 260.svg" />
                </div>
                <h1 class="py-2">Floyd Miles</h1>
                <p class="feed-back-paragragh">Amet minim mollit non deserunt ullamco est sit <br /> aliqua dolor do
                  amet sint. Veli
                  t officia consequat <br /> mollit. <br>
                  Exercitation veniam consequat sunt nostrud <br> amet. Amet minim mollit non des
                  erunt ullamco <br /> est sit aliqua dolor do amet sint. Velit officia <br> consequat duis
                  enim velit mollit. <br>Exercitation veniam consequat sunt nostrud <br> amet.</p>
              </div>
          </div>
        </div>
        <div class="slide-feed">
          <div class="feedback-main">
              <div class="card1">
                <div class="img-images">
                  <img src="{% static 'images/span-1.svg' %}" alt="span1" />
                  <img src="{% static 'images/star.svg' %}" class="Frame" alt="Frame 260.svg" />
                </div>
                <h1 class="py-2">Floyd Miles</h1>
                <p class="feed-back-paragragh">Amet minim mollit non deserunt ullamco est sit <br /> aliqua dolor do
                  amet sint. Veli
                  t officia consequat <br /> mollit. <br>
                  Exercitation veniam consequat sunt nostrud <br> amet. Amet minim mollit non des
                  erunt ullamco <br /> est sit aliqua dolor do amet sint. Velit officia <br> consequat duis
                  enim velit mollit. <br>Exercitation veniam consequat sunt nostrud <br> amet.</p>
              </div>
  
              <div class="card2">
                <div class="img-images">
                  <img src="{% static 'images/span-2.svg' %}" alt="span1" />
                  <img src="{% static 'images/star.svg' %}" class="Frame" alt="Frame 260.svg" />
                </div>
                <h1 class="py-2">Floyd Miles</h1>
                <p class="feed-back-paragragh">ullamco est sit aliqua dolor do amet sint. Velit <br />officia consequat
                  duis enim velit mollit.
                  Exercit <br />ation veniam consequat sunt nostrud amet.</p>
              </div>
              <div class="card3">
                <div class="img-images">
                  <img src="{% static 'images/span-3.svg' %}" alt="span1" />
                  <img src="{% static 'images/star.svg' %}" class="Frame" alt="Frame 260.svg" />
                </div>
                <h1 class="py-2">Floyd Miles</h1>
                <p class="feed-back-paragragh">Amet minim mollit non deserunt ullamco est sit <br /> aliqua dolor do
                  amet sint. Veli
                  t officia consequat <br /> mollit. <br>
                  Exercitation veniam consequat sunt nostrud <br> amet. Amet minim mollit non des
                  erunt ullamco <br /> est sit aliqua dolor do amet sint. Velit officia <br> consequat duis
                  enim velit mollit. <br>Exercitation veniam consequat sunt nostrud <br> amet.</p>
              </div>

          </div>
        </div>
        <div class="slide-feed">
          <div class="feedback-main">
            
              <div class="card1">
                <div class="img-images">
                  <img src="{% static 'images/span-1.svg' %}" alt="span1" />
                  <img src="{% static 'images/star.svg' %}" class="Frame" alt="Frame 260.svg" />
                </div>
                <h1 class="py-2">Floyd Miles</h1>
                <p class="feed-back-paragragh">Amet minim mollit non deserunt ullamco est sit <br /> aliqua dolor do
                  amet sint. Veli
                  t officia consequat <br /> mollit. <br>
                  Exercitation veniam consequat sunt nostrud <br> amet. Amet minim mollit non des
                  erunt ullamco <br /> est sit aliqua dolor do amet sint. Velit officia <br> consequat duis
                  enim velit mollit. <br>Exercitation veniam consequat sunt nostrud <br> amet.</p>
              </div>
            

              <div class="card2">
                <div class="img-images">
                  <img src="{% static 'images/span-2.svg' %}" alt="span1" />
                  <img src="{% static 'images/star.svg' %}" class="Frame" alt="Frame 260.svg" />
                </div>
                <h1 class="py-2">Floyd Miles</h1>
                <p class="feed-back-paragragh">ullamco est sit aliqua dolor do amet sint. Velit <br />officia consequat
                  duis enim velit mollit.
                  Exercit <br />ation veniam consequat sunt nostrud amet.</p>
              </div>
            
              <div class="card3">
                <div class="img-images">
                  <img src="{% static 'images/span-3.svg' %}" alt="span1" />
                  <img src="{% static 'images/star.svg' %}" class="Frame" alt="Frame 260.svg" />
                </div>
                <h1 class="py-2">Floyd Miles</h1>
                <p class="feed-back-paragragh">Amet minim mollit non deserunt ullamco est sit <br /> aliqua dolor do
                  amet sint. Veli
                  t officia consequat <br /> mollit. <br>
                  Exercitation veniam consequat sunt nostrud <br> amet. Amet minim mollit non des
                  erunt ullamco <br /> est sit aliqua dolor do amet sint. Velit officia <br> consequat duis
                  enim velit mollit. <br>Exercitation veniam consequat sunt nostrud <br> amet.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="pagination" id="pagination"></div>

    </section>
  </section> <!-- #feedback -->

  <style>

/* feedback section */
#feedback{
  margin-top: 50px;
}
.slider-container {
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 30px;
  /* padding: 10px; */
  white-space: nowrap;
  scrollbar-width: none;
}
.slider-container::-webkit-scrollbar {
  display: none;
}
.slide-feed {
  flex: 0 0 100%;
  scroll-snap-align: center;
  box-sizing: border-box;
  background: white;
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.pagination {
  text-align: center;
  margin-top: 10px;
}
.dott {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.actives {
  background-color: black;
}

.feedback-main{
  width: 100%;
  display: flex;
  margin-top: 40px;
  gap: 30px;
}
.card1{
  width: 28%;
  border: #2A2F2F solid 1px;
  height: 310px;
  padding: 33px;
  border-radius: 10px;
  border: 2px solid #BEBCBD;
}
.py-2{
  font-size: 22px;
  font-weight: 500;
  line-height: 21.6px;
  padding: 15px 0;
  color: #3C4242;
  margin-right: 80px;
}
.card2{
  width: 28%;
  border: #2A2F2F solid 1px;
  height: 310px;
  padding: 33px;
  border-radius: 10px;
  border: 2px solid #BEBCBD;
}

.feed-back-paragragh{
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color:#807D7E ;
}
.card3{
  width: 28%;
  border: #2A2F2F solid 1px;
  height: 310px;
  padding: 33px;
  border-radius: 10px;
  border: 2px solid #BEBCBD;
}

.img-images{
  display: flex;
  justify-content: space-between;
}
.Frame{
  height: 24px;
}
/* Responsive Styles */
@media (max-width: 1024px) {
  .card1,
  .card2,
  .card3 {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .card1,
  .card2,
  .card3 {
    width: 100%;
  }

  .feedback-main {
    gap: 20px;
  }

  .py-2 {
    font-size: 18px;
    margin-right: 0;
  }
}

/* Small Mobile View - 480px */
@media (max-width: 480px) {
  

  .card1,
  .card2,
  .card3 {
    width: 100%;
    height: auto;
    padding: 20px;
  }


  .feed-back-paragragh {
    font-size: 13px;
    line-height: 18px;
  }

 
}
  </style>