<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
</head>
<body>
    {% include 'shop/inc/navbar.html' %}
    {% block content %}
    {% include 'shop/index.html' %}
    {% endblock %}
    {% include 'shop/inc/footer.html' %}

    {% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock scripts %}
</body>
</html>